body {
  font-family: Heveltica, sans-serif;
}

#board {
  width: 500px;
  height: 500px;
  background: url("../images/board.png");
}

#board .X,
#board .O,
#board .E,
#board .position {
  width: 58px;
  height: 58px;
}

#board .E { cursor: pointer; }

#board .position {
  float: left;
  margin-top: 4px;
  margin-left: 4px;
}

#board .X {
  background: url("../images/black.png") no-repeat center;
  cursor: not-allowed;
}

#board .O {
  background: url("../images/white.png") no-repeat center;
  cursor: not-allowed;
}

#control {
  background: url("../images/white.png") no-repeat center;
  width: 58px;
  height: 58px;
}

#control.X {
  background: url("../images/black.png") no-repeat center;
  width: 58px;
  height: 58px;
}

.winner {
  width: 100px;
  margin-bottom: 10px;
  clear: both;
  padding: 10px;
  border-radius: 5px;
  text-align: center;
  background-color: #84D0EA;
  color: white;
  font-weight: bold;
}
