body {
  font-family: Heveltica, sans-serif;
  background: url("../images/bg.png");
  margin: 0 auto;
  width: 500px;
  padding-top: 20px;
}

.logo {
  float: left;
  display: block;
  text-decoration: none;
  font: 80px 'Carter One', Arial, Sans-Serif;
  letter-spacing: -5px;
  text-align: center;
  color: #999;
  text-shadow: 0px 3px 8px #2A2A2A;
}

.slogan {
  display: block;
  width: 230px;
  margin-top: 35px;
  margin-left: 20px;
  float: left;
  font: bold 15px Heveltica, Arial, sans-serif;
  color: #222;
  text-shadow: 0px 2px 3px #555;
}


#board {
  clear: both;
  width: 500px;
  height: 500px;
  background: url("../images/board.png");
  margin-bottom: 20px;
}

#board .X,
#board .O,
#board .E,
#board .position {
  width: 58px;
  height: 58px;
}

#board .E { cursor: pointer; }

#board .position {
  float: left;
  margin-top: 4px;
  margin-left: 4px;
}

#board .X {
  background: url("../images/black.png") no-repeat center;
  cursor: not-allowed;
}

#board .O {
  background: url("../images/white.png") no-repeat center;
  cursor: not-allowed;
}

#control {
  background: url("../images/white.png") no-repeat center;
  width: 58px;
  height: 58px;
}

#control.X {
  background: url("../images/black.png") no-repeat center;
  width: 58px;
  height: 58px;
}

.winner {
  width: 100px;
  margin-bottom: 10px;
  clear: both;
  padding: 10px;
  border-radius: 5px;
  text-align: center;
  background-color: #84D0EA;
  color: white;
  font-weight: bold;
}
