<!DOCTYPE HTML>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title></title>
</head>
<body>
<form action="/" method="post">
  <label for="white">
    <img src="images/white.png" alt="" />
  </label>
  <input type="radio" id="white" name="color" value="white" />
  <label for="black">
    <img src="images/black.png" alt="" />
  </label>
  <input type="radio" id="black" name="color" value="black" />
  <input type="submit" value="Start new game" />
</form>

</body>
</html>
